body, html { /*sets the bg img, the color scheme and removes the appearance of scroll bar */
    overflow-y: clip;
    overflow-x: hidden; 
    background-image: url("https://imgs.search.brave.com/3oQg9p7dX5_89Vxp2xWSnob069eFXQFjbrAtGvKUrgs/rs:fit:1200:1080:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvMjg2/NjUzNi5qcGc");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
    background-color: black;
    color: white;
}

 .half { /* limits the width of the p so the text doesn't overlap on God  */
    width: 45%;
 }

 p { /* better text readability */
    font-size: larger;
    
 }
/* Add a black background color to the top navigation and other things...*/
header {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    height: 60px;
    
}


header li { /* styles and aligns nav list into buttons */
    text-transform: uppercase;
    list-style: none;
    float: left;
    width: 20%;
}

/* Style the links inside the navigation bar */
header a {
    color: #f2f2f2;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    font-size: 34px;
}

/* Change the color of links on hover */
header a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
header a.active {
    background-color: #e0dede;
    color: rgb(0, 0, 0);
}


footer { /* centers footer text and places it directly on the bottom */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

pre { /* makes The Ballad of Buckethead more readable and aligns with embedded video */  
    font-size: larger;
    transform: translateX(-70px);
}

.right{  /* aligns to the right */
    float: right;
    transform: translatex(-30px);
}

.left{ /* aligns to the left */
    float: left;
    transform: translatex(30px);
}

#right { /* aligns the bio img right */
    float: right; 

}

img { /* moves the image to the right so it looks better */
    width : 600px;
    height: auto; /*to preserve the aspect ratio of the image*/   

}

#alb_cont{ /*stacks album covers in a column */
    transform: translateY(-30px);
    
    float: right;
    width: min-content;
}
.alb { /*scales and aligns album covers */
    transform: translatex(-120px);
    width : 10rem;
    height: 10rem;
    
    
}

.pos { /* """centers""" the home nav button */

    transform: translateX(60px);
}

#pos2 {
    transform: translateX(-30px); 
}

#disc { /* styles discography list */
    line-height: 150px;
    font-size: xx-large;
    list-style: none;
    float: left;
    width: 70%;
}

#info { /* 1st column (half) of info */
    float: left;
    
    width: 45%;
}

#fav {  /* 2nd column of info */
    float: right;
    
    width: 45%;
}

#pikes { /* favourite pikes list styling */
    line-height: 35px;
    font-size: x-large;
    list-style: none;
}

#p1{ /* favourite pikes list col 1 */
    float: left;
    width: 50%;
}
#p2{ /* favourite pikes list col 2 */
    float: right;
    width: 50%;
}