body, html {
    background-image: url("https://imgs.search.brave.com/3oQg9p7dX5_89Vxp2xWSnob069eFXQFjbrAtGvKUrgs/rs:fit:1200:1080:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvMjg2/NjUzNi5qcGc");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
    background-color: black;
    color: white;
}

 .half {
    width: 45%;
 }

 p {
    font-size: larger;
    
 }
/* Add a black background color to the top navigation */
header {
    background-color: #333;
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
header a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
header a.active {
    background-color: #e0dede;
    color: rgb(0, 0, 0);
}

.items {


}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

iframe{
    float: right;
    transform: translateY(-30px);
}

img {
    transform: translateX(100px);
}